 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Preskool</title>

<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
</head>

<body>

<div class="container mt-5">
    <div class="row">

        <!-- HOLIDAYS -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'assets/img/image-8.png' %}" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Holidays</h5>
                    <a href="{% url 'holidays_home' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        <!-- EXAMS -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'assets/img/image-5.png' %}" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Exams</h5>
                    <a href="{% url 'exams_home' %}" class="btn btn-success">View</a>
                </div>
            </div>
        </div>

        <!-- TIMETABLE -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'assets/img/image-7.png' %}" class="card-img-top">
                <div class="card-body text-center">
                    <h5>Time Table</h5>
                    <a href="{% url 'timetable_home' %}" class="btn btn-warning">View</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>
</html>